<div class="uk-footer" style="background-color: #202020;">
  <div class="uk-container ">
    <div class="uk-grid-match uk-grid-divider" uk-grid>
      <div class="uk-width-expand">
        <a href="https://thingmill.fr">
          <img src="/img/thingmill_logo_white.png" class="logo-footer" alt="Logo Thingmill" style="max-height: 50px;">
        </a>
        <p>© Thingmill 2024 - RCS 890 687 601 Alençon</p>
      </div>
      <div class="uk-width-auto">
        <ul class="uk-list uk-list-divider">
          <li>
            <a href="https://status.thingmill.fr" target=”_blank” class="uk-link-reset">🚦 Status des services</a>
          </li>
          <li>
            <a href="/notice" class="uk-link-reset">Mentions légales</a>
          </li>
          <li>
            <a href="/terms" class="uk-link-reset">Conditions générales d'utilisation</a>
          </li>
          <li>
            <a href="/privacy" class="uk-link-reset">Politique de confidentialité</a>
          </li>
          <li>
            <a href="/abuse" class="uk-link-reset">Reporter un abus</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="uk-text-center uk-margin-top">
      Suivez-nous sur :
      <a href="https://facebook.com/Thingmill" target=”_blank” uk-icon="icon: facebook"></a>
      <a href="https://twitter.com/Thingmill_Corp" target=”_blank” uk-icon="icon: twitter"></a>
      <a href="https://linkedin.com/company/thingmill" target=”_blank” uk-icon="icon: linkedin"></a>
    </div>
  </div>
</div>
<!-- Scripts -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
  function reCaptchaCallback(response) {
    document.getElementById('recaptcha-response').value = response;
  }
</script>