<title>Thingmill - Une Entreprise Créative</title>

<!-- Meta tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width">
<meta name="identifier-url" content="https://thingmill.fr" />
<meta name="title" content="Thingmill - Une Entreprise Créative" />
<meta name="msapplication-TileColor" content="#4db6ac">
<meta name="msapplication-TileImage"
    content="img/thingmill_small.png.png">
<meta name="theme-color" content="#4db6ac">
<meta name="author" content="Thingmill">
<meta name="description"
    content="Mettez à profit l'innovation et la créativité de Thingmill, fondée en 2018 par Valentin Derouet, Étienne Chevrollier, et Matthieu Bessat. Spécialisés dans la création de produits et services uniques, nous offrons également des solutions d'infogérance et d'hébergement web dédié, parfaitement adaptées aux besoins des TPE/PME. Découvrez comment nous pouvons vous aider à transformer votre entreprise.">
<meta name="keywords"
    content="thingmill, retrobox, retro, box, dépannage, informatique, retrobox tech, maintenance, heloup, devis, rétrobox" />
<meta name="copyright" content="© 2024 Thingmill" />
<meta name="robots" content="All" />

<meta property="og:description"
    content="Mettez à profit l'innovation et la créativité de Thingmill, fondée en 2018 par Valentin Derouet, Étienne Chevrollier, et Matthieu Bessat. Spécialisés dans la création de produits et services uniques, nous offrons également des solutions d'infogérance et d'hébergement web dédié, parfaitement adaptées aux besoins des TPE/PME. Découvrez comment nous pouvons vous aider à transformer votre entreprise.">
<meta property="og:title"
    content="Thingmill - Une Entreprise Créative">
<meta property="og:type" content="website">
<meta property="og:url" content="https://thingmill.fr">
<meta property="og:locale" content="fr_FR">
<meta property="og:image"
    content="https://thingmill.fr/img/thingmill_small.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title"
    content="Thingmill - Une Entreprise Créative">
<meta name="twitter:url" content="https://thingmill.fr">
<meta name="twitter:description"
    content="Mettez à profit l'innovation et la créativité de Thingmill, fondée en 2018 par Valentin Derouet, Étienne Chevrollier, et Matthieu Bessat. Spécialisés dans la création de produits et services uniques, nous offrons également des solutions d'infogérance et d'hébergement web dédié, parfaitement adaptées aux besoins des TPE/PME. Découvrez comment nous pouvons vous aider à transformer votre entreprise.">
<meta name="twitter:image"
    content="https://thingmill.fr/img/thingmill_small.png">

<!-- Favicon -->
<link rel="icon" type="image/png" href="img/icon/favicon-16x16.png"
    sizes="16x16">
<link rel="icon" type="image/png" href="img/icon/favicon-32x32.png"
    sizes="32x32">
<link rel="icon" href="img/thingmill_logo.svg" sizes="any" type="image/svg+xml">
<link rel="icon" href="img/icon/favicon.ico" sizes="48x48">

<!-- Site manifest -->
<link rel="manifest" href="/site.webmanifest" />

<!-- Apple icon-->
<link rel="mask-icon" href="img/thingmill_logo.svg" color="#4db6ac">
<link rel="shortcut icon" href="img/icon/favicon.ico">
<link rel="apple-touch-icon" href="img/icon/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57"
    href="img/icon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72"
    href="img/icon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76"
    href="img/icon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114"
    href="img/icon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120"
    href="img/icon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144"
    href="img/icon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152"
    href="img/icon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180"
    href="img/icon/apple-touch-icon-180x180.png">

<!-- UIkit CSS -->
<link rel="stylesheet" href="css/uikit.css" />

<!-- UIkit JS -->
<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="/css/style.css" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
    href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Rubik"
    rel="stylesheet">

<!-- Fontawesome lib -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Matomo Code -->
<script type="text/javascript">
        var _paq = window._paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.thingmill.fr"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.thingmill.fr/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
        </script>
<noscript>
    <p><img
            src="//analytics.thingmill.fr/matomo.php?idsite=2&amp;rec=1"
            style="border:0;" alt /></p>
</noscript>
<!-- End Matomo Code -->