<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta name="identifier-url" content="https://thingmill.fr" />
<meta name="title" content="Thingmill - A creative corporation" />
<meta name="msapplication-TileColor" content="#4db6ac">
<meta name="msapplication-TileImage" content="img/ThingMill Logo.png">
<meta name="theme-color" content="#4db6ac">
<meta name="author" content="Thingmill Corp">
<meta name="description" content="We invent, we create, we sell">
<meta property="og:description" content=" We invent, we create, we sell">
<meta property="og:title" content="Thingmill - A creative corporation">
<meta property="og:type"  content="website">
<meta property="og:url"  content="https://thingmill.fr">
<meta property="og:locale"  content="fr_FR">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:image" content="https://raw.githubusercontent.com/thingmill/artworks/master/ThingMill%20Logo.png"/>
<meta name="keywords" content="thingmill, retroboxsp, retro, box, thingmill, retrobox sp, retrobox tech, valentin derouet, etienne chevrollier, matthieu bessat, raspberry pi zero, diy, kit, rpi, rétrobox, " />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Thingmill - A creative corporation">
<meta name="twitter:url" content="https://thingmill.fr">
<meta name="twitter:description" content=" We invent, we create, we sell">
<meta name="twitter:image" content="https://raw.githubusercontent.com/thingmill/artworks/master/ThingMill%20Logo.png">
<meta name="copyright" content="© 2019 thingmill" />
<meta name="robots" content="All" />
<title>Thingmill - A creative corporation</title>
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="icon" href="img/ThingMill Logo.png" />
<link rel="icon" type="image/png" href="img/ThingMill Logo.png" />
<link rel="icon" type="image/svg+xml" href="img/ThingMill Logo.png" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<html lang="fr" dir="ltr">
   <!-- Matomo -->
   <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.thingmill.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
   </script>
   <noscript>
      <p><img src="//analytics.thingmill.fr/piwik.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p>
   </noscript>
   <!-- End Matomo Code -->
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
