<div class="uk-position-top">
    <div
        uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav
            class="navbar uk-navbar-container uk-navbar-transparent"
            data-uk-navbar uk-navbar>
            <!-- desktop navbar -->
            <div class="uk-navbar-left main-navbar">
                <ul class="uk-navbar-nav uk-margin-large-left">
                    <a href="/">
                        <img class="min-logo"
                            src="img/thingmill_logo_white.png"
                            alt="Logo Thingmill en blanc">
                    </a>
                </ul>
                <ul class="uk-navbar-nav uk-margin-large-right">
                    <li class="uk-active">
                        <a href="/#accueil">Accueil</a>
                    </li>
                    <li>
                        <a href="/#about">A Propos</a>
                    </li>
                    <li>
                        <a href="/#team">Notre Équipe</a>
                    </li>
                    <li>
                        <a href="/#service">Nos Services</a>
                    </li>
                    <li>
                        <a href="/#project">Nos Projets</a>
                    </li>
                    <li>
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- mobile navbar -->
            <div class="uk-navbar mobile-navbar">
                <ul class="uk-navbar-nav uk-navbar-right">
                    <li>
                        <a href="/">
                            <img class="mobile-logo"
                                src="img/thingmill_logo_white.png"
                                alt="Logo Thingmill en blanc">
                        </a>
                    </li>
                    <li>
                        <a class="uk-navbar-toggle" href="#">
                            <span uk-navbar-dropdown
                                uk-navbar-toggle-icon></span>
                        </a>
                        <div class="uk-navbar-dropdown">
                            <ul
                                class="uk-nav uk-navbar-dropdown-nav">
                                <li>
                                    <a href="/#accueil">Accueil</a>
                                </li>
                                <li>
                                    <a href="/#about">A Propos</a>
                                </li>
                                <li>
                                    <a href="/#team">Notre
                                        Équipe</a>
                                </li>
                                <li>
                                    <a href="/#service">Nos
                                        Services</a>
                                </li>
                                <li>
                                    <a href="/#project">Nos
                                        Projets</a>
                                </li>
                                <li>
                                    <a href="/#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
    </div>
</div>
