<% include header %>
    <h1 class="left-title">Découvrez nos services...</h1>
    <div class="row project right">
        <div class="col s12 m6">
            <img alt="" class="project-img right" src="img/activities/website.jpg" />
            <!--<iframe src="https://retrobox.tech" scrolling="no" width= "100%" border-radius= "1em" frameBorder="0">Browser not compatible.</iframe>-->
        </div>
        <div class="col s12 m6">
            <h1 class="web-site title-project">Refonte & création de sites web</h1>
            <p>Le site web parfait pour votre marque</p>
            <p class="desc-project">Vous avez besoin d'être présent sur Internet ? Nous sommes là pour vous, le web est notre passion ! Du site vitrine en passant au site e-commerce au dashboard, nous vous apportons une solution sur-mesure et adaptée à chaque projet de création de site Internet. </p>
            <p class="retrobox">Demander un devis <i class="material-icons arrow">keyboard_arrow_right</i>
            </p>
            <div>
                <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #48486A" href="/#app"><i class="fas fa-file-signature"></i></a>
            </div>
        </div>
    </div>

    <div class="row project">
        <div class="col s12 m6">
            <div class="text-left">
                <h1 class="web-site title-project">SEO - Campagnes publicitaires</h1>
                <p>Soyez première place sur Google !</p>
                <p class="desc-project">Comme vous le savez, de nos jours la visibilité numérique est un enjeu crucial pour toute société qui cherche à se développer. Il est important de disposer de tous les outils pour générer un maximum de visibilité qualifiée au niveau régional, national et international afin d’augmenter de manière significative le trafic sur votre site internet, mais aussi d’élargir votre clientèle, prospects et apporter une image de marque important auprès des internautes</p>
                <p class="retrobox">Demander un devis <i class="material-icons arrow">keyboard_arrow_right</i>
                </p>
                <div>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #48486A" href="/#app"><i class="fas fa-file-signature"></i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <img alt="" class="project-img" src="img/activities/seo.jpg" />
        </div>
    </div>
    <div class="row project">
        <div class="col s12 m6">
            <img alt="" class="project-img right" src="img/activities/logo.jpg" />
        </div>
        <div class="col s12 m6">
            <h1 class="web-site title-project">Identité visuelle & Support Graphique</h1>
            <p>Vous ne possédez pas de logo pour votre entreprise ? Trouvez le <u>votre</u> ici !</p>
            <p class="desc-project">Concevoir une identité visuelle c’est traduire une personnalité, un univers, une atmosphère. C’est capter l’essence d’une marque et la retranscrire graphiquement avec justesse et savoir-faire. Plus que créer du beau, nous nous attachons à créer du sens, un concept, un environnement, une histoire pour chacun de nos clients... </p>
            <p class="retrobox">Demander un devis <i class="material-icons arrow">keyboard_arrow_right</i>
            </p>
            <div>
                <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #48486A" href="//#app"><i class="fas fa-file-signature"></i></a>
            </div>
        </div>
    </div>
    <div class="row project">
        <div class="col s12 m6">
            <div class="text-left">
                <h1 class="web-site title-project">Maintenance informatique à domicile</h1>
                <p>Votre ordinateur est en panne ?</p>
                <p class="desc-project">Un problème avec votre ordinateur ? Nos experts pourront résoudre votre problème rapidement et à moindre coût. Cela peut aller d'un pc qui bug au montage d'une machine sur-mesure. Vous pouvez même envoyer votre ordinateur/objet à réparer directement par Laposte ! Il est aussi possible de l'ammener directement au siège de l'entreprise.</p>
                <p class="retrobox">Demander un devis <i class="material-icons arrow">keyboard_arrow_right</i>
                </p>
                <div>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #48486A" href="/#app"><i class="fas fa-file-signature"></i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <img alt="" class="project-img" src="img/activities/computer.jpg" />
        </div>
    </div>
    <div class="row project">
        <div class="col s12 m6">
            <img alt="" class="project-img right" src="img/activities/server.jpg" />
        </div>
        <div class="col s12 m6">
            <h1 class="web-site title-project">Gestion d'infrastructure réseau</h1>
            <p>Vous n'avez pas envie de vous occuper de la mise en production de votre site web ?</p>
            <p class="desc-project">Vous avez besoin d'un machine ? D'une mise en production d'un site web ? Et vous n'avez pas envie de vous occuper de tout ça ? Laissez faire, nous pouvons vous mettre une machine à votre disposition et en assurer la fiabilité. Vous pouvez directement nous donner votre site web, et nous nous occupons de la création du nom de domaine, de toute la gestion à votre place !</p>
            <p class="retrobox">Demander un devis <i class="material-icons arrow">keyboard_arrow_right</i>
            </p>
            <div>
                <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #48486A" href="/#app"><i class="fas fa-file-signature"></i></a>
            </div>
        </div>
    </div>
    <div class="row project">
        <div class="col s12 m6">
            <div class="text-left">
                <h1 class="web-site title-project">Création électronique</h1>
                <p>Mettez au jour vos idées !</p>
                <p class="desc-project">Vous avez un projet nécessitant des compétences en éléctronique que vous n'avez pas ? Nous pouvons vous créer des PCB sur mesure ! Nous proposons une création de A à Z de la PCB, avec prototypage etc</p>
                <p class="retrobox">Demander un devis <i class="material-icons arrow">keyboard_arrow_right</i>
                </p>
                <div>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #48486A" href="/#app"><i class="fas fa-file-signature"></i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <img alt="" class="project-img" src="img/activities/electronic.jpg" />
        </div>
    </div>
    <h2 class="project-title">Construisons ensemble <u>votre projet</u></h2>
    <h3 class="sub-title">Faites une demande de devis <b>GRATUITEMENT !</b></h3>

    <% include footer %>
