<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <title>Thingmill - A creative corporation</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="identifier-url" content="https://thingmill.fr" />
    <meta name="title" content="Thingmill - A creative corporation" />
    <meta name="msapplication-TileColor" content="#4db6ac">
    <meta name="msapplication-TileImage" content="img/ThingMill Logo.png">
    <meta name="theme-color" content="#4db6ac">
    <meta name="author" content="Thingmill Corp">
    <meta name="description" content="We invent, we create, we sell">
    <meta name="keywords" content="thingmill, retroboxsp, retro, box, thingmill, retrobox sp, retrobox tech, valentin derouet, etienne chevrollier, matthieu bessat, raspberry pi zero, diy, kit, rpi, rétrobox, " />
    <meta name="copyright" content="© 2019 thingmill" />
    <meta name="robots" content="All" />

    <meta property="og:description" content=" We invent, we create, we sell">
    <meta property="og:title" content="Thingmill - A creative corporation">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thingmill.fr">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:image" content="https://raw.githubusercontent.com/thingmill/artworks/master/ThingMill%20Logo.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Thingmill - A creative corporation">
    <meta name="twitter:url" content="https://thingmill.fr">
    <meta name="twitter:description" content=" We invent, we create, we sell">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/thingmill/artworks/master/ThingMill%20Logo.png">

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" href="img/ThingMill Logo.png" />
    <link rel="icon" type="image/png" href="img/ThingMill Logo.png" />
    <link rel="icon" type="image/svg+xml" href="img/ThingMill Logo.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel/owl.carousel.min.css"/>

</head>

<body>
    <header class="layout-header">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <div class="row">
                        <a href="/#" class="brand-logo center"><img src="img/thingmill_logo_navbar.png"></a>
                        <div class="col s6 header-left">
                            <ul id="nav-mobile" class="left hide-on-med-and-down">
                                <li><a href="/" class="navigation-link left-text">Accueil</a></li>
                                <li><a href="/#about" class="navigation-link left-text">À propos</a></li>
                                <li><a href="/activities" class="navigation-link left-text">Nos Services</a></li>
                            </ul>
                        </div>
                        <div class="col s6 header-right">
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <!-- IN THE CASE WE HAVE TOO MANY PROJECTS -->
                                <!--<li><a href="/projects" class="navigation-link right-text">Nos Projects</a></li>-->
                                <li><a href="/#projects" class="navigation-link right-text">Nos Projects</a></li>
                                <li><a href="/#team" class="navigation-link right-text">Notre Equipe</a></li>
                                <li><a href="/#app" class="navigation-link right-text devis">Demander un devis</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
