<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <title>Thingmill - Une Entreprise Créative</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="identifier-url" content="https://thingmill.fr" />
    <meta name="title" content="Thingmill - A creative corporation" />
    <meta name="msapplication-TileColor" content="#4db6ac">
    <meta name="msapplication-TileImage" content="img/ThingMill Logo.png">
    <meta name="theme-color" content="#4db6ac">
    <meta name="author" content="Thingmill Corp">
    <meta name="description"
        content="We invent, we create, we sell. Discover the history of the company that develops projects from young students.">
    <meta name="keywords"
        content="thingmill, retrobox, retro, box, dépannage, informatique, retrobox tech, depannage, maintenance, heloup, devis, rétrobox" />
    <meta name="copyright" content="© 2022 Thingmill" />
    <meta name="robots" content="All" />

    <meta property="og:description"
        content=" We invent, we create, we sell. Discover the history of the company that develops projects from young students.">
    <meta property="og:title" content="Thingmill - A creative corporation">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://thingmill.fr">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:image"
        content="https://raw.githubusercontent.com/thingmill/artworks/master/ThingMill%20Logo.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Thingmill - A creative corporation">
    <meta name="twitter:url" content="https://thingmill.fr">
    <meta name="twitter:description"
        content=" We invent, we create, we sell. Discover the history of the company that develops projects from young students.">
    <meta name="twitter:image"
        content="https://raw.githubusercontent.com/thingmill/artworks/master/ThingMill%20Logo.png">

    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" media="all" rel="stylesheet" type="text/css" />
    <link rel="icon" href="img/ThingMill Logo.png" />
    <link rel="icon" type="image/png" href="img/ThingMill Logo.png" />
    <link rel="icon" type="image/svg+xml" href="img/ThingMill Logo.png" />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="css/uikit.css" />

    <!-- UIkit JS -->
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d9568be03e.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var _paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.thingmill.fr"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.thingmill.fr/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <noscript>
        <p><img src="//analytics.thingmill.fr/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Matomo Code -->