<!DOCTYPE html>
<html lang="fr">
    <body>
        <header>
            <title>Thingmill - Une Entreprise Créative</title>

            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width">
            <meta name="identifier-url" content="https://thingmill.fr" />
            <meta name="title" content="Thingmill - A creative corporation" />
            <meta name="msapplication-TileColor" content="#4db6ac">
            <meta name="msapplication-TileImage"
                content="img/ThingMill Logo.png">
            <meta name="theme-color" content="#4db6ac">
            <meta name="author" content="Thingmill Corp">
            <meta name="description"
                content="We invent, we create, we sell. Discover the history of the company that develops projects from young students.">
            <meta name="keywords"
                content="thingmill, retrobox, retro, box, dépannage, informatique, retrobox tech, depannage, maintenance, heloup, devis, rétrobox" />
            <meta name="copyright" content="© 2024 Thingmill" />
            <meta name="robots" content="All" />

            <meta property="og:description"
                content=" We invent, we create, we sell. Discover the history of the company that develops projects from young students.">
            <meta property="og:title"
                content="Thingmill - A creative corporation">
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://thingmill.fr">
            <meta property="og:locale" content="fr_FR">
            <meta property="og:image"
                content="https://raw.githubusercontent.com/thingmill/artworks/master/ThingMill%20Logo.png" />

            <meta name="twitter:card" content="summary" />
            <meta name="twitter:title"
                content="Thingmill - A creative corporation">
            <meta name="twitter:url" content="https://thingmill.fr">
            <meta name="twitter:description"
                content=" We invent, we create, we sell. Discover the history of the company that develops projects from young students.">
            <meta name="twitter:image"
                content="https://raw.githubusercontent.com/thingmill/artworks/master/ThingMill%20Logo.png">

            <link href="https://fonts.googleapis.com/css?family=Rubik"
                rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Fira+Sans"
                rel="stylesheet">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                media="all" rel="stylesheet" type="text/css" />

            <link rel="icon" href="img/ThingMill Logo.png" />
            <link rel="icon" type="image/png" href="img/ThingMill Logo.png" />
            <link rel="icon" type="image/svg+xml"
                href="img/ThingMill Logo.png" />

            <!-- UIkit CSS -->
            <link rel="stylesheet" href="css/uikit.css" />

            <!-- UIkit JS -->
            <script src="js/uikit.min.js"></script>
            <script src="js/uikit-icons.min.js"></script>

            <link rel="stylesheet" type="text/css" href="/css/style.css" />

            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link
                href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
                rel="stylesheet">

            <!-- Fontawesome lib -->
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
                integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />

            <script type="text/javascript">
        var _paq = window._paq || [];
        _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
        _paq.push(["setCookieDomain", "*.thingmill.fr"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.thingmill.fr/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '2']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
        </script>
            <noscript>
                <p><img
                        src="//analytics.thingmill.fr/matomo.php?idsite=2&amp;rec=1"
                        style="border:0;" alt /></p>
            </noscript>
            <!-- End Matomo Code -->

            <!-- nav bar-->

            <div class="uk-position-top">
                <div
                    uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
                    <nav
                        class="navbar uk-navbar-container uk-navbar-transparent"
                        data-uk-navbar uk-navbar>
                        <!-- desktop navbar -->
                        <div class="uk-navbar-left main-navbar">
                            <ul class="uk-navbar-nav uk-margin-large-left">
                                <li>
                                    <img class="min-logo"
                                        src="img/thingmill_logo_white.png">
                                </li>
                            </ul>
                            <ul class="uk-navbar-nav uk-margin-large-right">
                                <li class="uk-active">
                                    <a href="/#accueil">Accueil</a>
                                </li>
                                <li>
                                    <a href="/#about">A Propos</a>
                                </li>
                                <li>
                                    <a href="/#team">Notre Équipe</a>
                                </li>
                                <li>
                                    <a href="/#service">Nos Services</a>
                                </li>
                                <li>
                                    <a href="/#project">Nos Projets</a>
                                </li>
                                <li>
                                    <a href="/#contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- mobile navbar -->
                        <div class="uk-navbar mobile-navbar">
                            <ul class="uk-navbar-nav uk-navbar-center">
                                <li>
                                    <a href="/index.html">
                                        <img class="mobile-logo"
                                            src="img/thingmill_logo_white.png">
                                    </a>
                                </li>
                                <li>
                                    <a class="uk-navbar-toggle" href="#">
                                        <span uk-navbar-dropdown
                                            uk-navbar-toggle-icon></span>
                                    </a>
                                    <div class="uk-navbar-dropdown">
                                        <ul
                                            class="uk-nav uk-navbar-dropdown-nav">
                                            <li>
                                                <a href="/#accueil">Accueil</a>
                                            </li>
                                            <li>
                                                <a href="/#about">A Propos</a>
                                            </li>
                                            <li>
                                                <a href="/#team">Notre
                                                    Équipe</a>
                                            </li>
                                            <li>
                                                <a href="/#service">Nos
                                                    Services</a>
                                            </li>
                                            <li>
                                                <a href="/#project">Nos
                                                    Projets</a>
                                            </li>
                                            <li>
                                                <a href="/#contact">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <hr>
                </div>
            </div>
        </header>