<% include header %>
    <div id="accueil" class="layout-main">
        <div class="section home">
            <h1 class="home">Imaginer, innover et réaliser</h1>
            <p class="home-desc">Thingmill, pour un vent de fraicheur</p>
            <div class="home-actions-button">
                <p class="contact-submit">
                    <a class="waves-effect waves-light btn-large btn" href="#about">En savoir plus</a>
                </p>
                <p class="contact-submit">
                    <a class="waves-effect waves-light btn-large btn" href="#app">
            Nous contacter
            <i class="material-icons right">send</i>
            </a>
                </p>
            </div>
        </div>
    </div>
    <div style="position: relative; top: -8em;" id="about"></div>
    <div class="section-padding-80 primary-bg call-to-action-bg layout-scroll" style="background-color: #38847d">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col s12 m6" style="border-right: 1px solid white;">
                    <div class="call-to-action">
                        <h1>Qui sommes nous ?</h1>
                        <h1>Que faisons nous ?</h1>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="call-to-action padding-left-30">
                        <h2>Thingmill est une entreprise créée par des lycéens en 2018 par Valentin Derouet, Étienne Chevrollier
                  et Matthieu Bessat, trois amis qui travaille ensemble sur leur temps libre
               </h2>
                        <h2>Nous inventons, nous créons et nous vendons. Notre but est de créer des objets ou des services
                  jamais vu et qui rendent services.
               </h2>
                        <a href="#engagements"><i class="fas fa-angle-right"></i> En découvrir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section" id="engagements" data-aos="fade-right">
            <h1 class="title">Nos engagements</h1>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center icon-one"><i class="material-icons larger">shopping_cart</i></h2>
                        <h5 class="center">Des boutiques pratiques et sécurisées</h5>
                        <p class="light center">Nos boutiques sont conçues par nos soins et sécurisées par stripe (pour les paiements bancaires) et Paypal
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center icon-two"><i class="material-icons larger">money_off</i></h2>
                        <h5 class="center">Vos données sont sécurisées</h5>
                        <p class="light center">Nous vendons nos produits au prix juste permettant notre développement sans que vous vous ruiniez
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center icon-one"><i class="material-icons larger">phonelink</i></h2>
                        <h5 class="center">Des applications pratiques et gratuites</h5>
                        <p class="light center">Toutes les applications sont développées par nos soins et disponibles à la fois sur PC/Mac et Android/iOS pour que vous ayez un contrôle total sur nos produits
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center icon-two"><i class="material-icons larger">question_answer</i></h2>
                        <h5 class="center">Une communauté active</h5>
                        <p class="light center">Tous nos produits sont dotés de blogs, forums, serveurs discord pour que ne soyez jamais frustrés par une question sans réponse.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center icon-one"><i class="material-icons larger">lock</i></h2>
                        <h5 class="center">Vos données sont sécurisées</h5>
                        <p class="light center">Nous nous efforçons à prendre le moins de données possibles sur vous, tous nos sites respectent la loi RGPD
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center"><i class="material-icons larger">video_library</i></h2>
                        <h5 class="center">Des chaînes YouTube</h5>
                        <p class="light center">Tous nos produits sont présentés dans des vidéos explicatives au cas où vous ne compreniez pas nos projets
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="title" id="projects">Nos projets</h1>

    <div class="container" data-aos="fade-right">

        <div class="row project right">
            <div class="col s12 m6">
                <img alt="" class="project-img right" src="https://static.retrobox.tech/img/about/RETROBOX1.png" />
                <!--<iframe src="https://retrobox.tech" scrolling="no" width= "100%" border-radius= "1em" frameBorder="0">Browser not compatible.</iframe>-->
            </div>
            <div class="col s12 m6">
                <div class="text-left">
                    <h1 class="retrobox title-project">Projet Retrobox</h1>
                    <p>Une console, 20 ans de jeux, 35 ans de technologies</p>
                    <p class="desc-project">La RetroBox est une console portative, open-source et DIY, qui tourne sur RetroPie. Vous pouvez rejouer à tous les jeux de votre enfance, avec son autonomie de 6 heures vous allez passer des heures de plaisirs ! Projet en cours de construction, un kickstarter sera bientôt mis en ligne !</p>
                    <p class="retrobox">En apprendre plus sur le projet <i class="material-icons arrow">keyboard_arrow_right</i>
                    </p>
                    <div>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #FF0000" target="_blank" href="https://retrobox.tech/"><i class="fas fa-link "></i></a>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #05ce78" target="_blank" href="https://www.kickstarter.com/projects/thingmill/549296153?ref=34wlle&token=c7f8bbc8"><i class="fab fa-kickstarter"></i></a>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #00ACED" target="_blank" href="https://twitter.com/RetroBoxSP"><i class="fab fa-twitter"></i></a>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #171516" target="_blank" href="https://github.com/retrobox/"><i class="fab fa-github"></i></a>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #7289da" target="_blank" href="https://discord.gg/TzNNQnP"><i class="fab fa-discord"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row project odd">
            <div class="col s12 m6">
                <img alt="" class="project-img" src="img/happyblocks_logo.png" />
            </div>
            <div class="col s12 m6">
                <div class="text-left">
                    <h1 class="happyblocks title-project">Projet HappyBlocks</h1>
                    <p>Serveurs Minecraft disposant de nombreux jeux !</p>
                    <p class="desc-project">HappyBlocks est un serveur mini-jeux pour le jeu Minecraft, où vous pouvez vous divertir avec d’autres personnes en jouant à divers Mini-jeux. Nous nous renouvelons sans cesse pour avoir des jeux originaux et de qualité et nous voulons sans cesse nous améliorer c’est pour cela que nous avons besoin de vos avis !</p>
                    <p class="happyblocks">En apprendre plus sur le projet <i class="material-icons arrow">keyboard_arrow_right</i>
                    </p>
                    <div>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #FFCA28" target="_blank" href="https://happyblocks.info/"><i class="fas fa-link "></i></a>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #3B5998" target="_blank" href="https://www.facebook.com/HappyBlocksMc/"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #00ACED" target="_blank" href="https://twitter.com/BlocksHappy"><i class="fab fa-twitter"></i></a>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #171516" target="_blank" href="https://github.com/HappyBlocks-Mc"><i class="fab fa-github"></i></a>
                        <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #7289da" target="_blank" href="https://discord.gg/nd8epEU"><i class="fab fa-discord"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="section" id="team" data-aos="fade-left">
            <h1 class="title new-section">Notre équipe</h1>
            <div class="row center">
                <div class="team-item col s12 m4">
                    <img alt="" class="avatar" src="img/valentin.png" />
                    <h1 class="name">Valentin Derouet</h1>
                    <p class="desc center">18 ans, concepteur électronique, admin réseau et dev web</p>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #171516" target="_blank" href="https://github.com/StoneSet"><i class="fab fa-github"></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #00ACED" target="_blank" href="https://twitter.com/_StoneSet"><i class="fab fa-twitter"></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #5851db" target="_blank" href="https://stoneset.fr"><i class="fas fa-link "></i></a>
                </div>
                <div class="team-item col s12 m4">
                    <img alt="" class="avatar" src="img/etienne.jpg" />
                    <h1 class="name">Etienne Chevrollier</h1>
                    <p class="desc center">17 ans, infographiste, blogueur et community manager</p>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #00ACED" target="_blank" href="https://twitter.com/EtienneCvr"><i class="fab fa-twitter"></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #5851db" target="_blank" href="https://wabfall.me"><i class="fas fa-link "></i></a>
                </div>
                <div class="team-item col s12 m4">
                    <img alt="" class="avatar" src="img/matthieu.jpg" />
                    <h1 class="name">Matthieu Bessat</h1>
                    <p class="desc center">17 ans, développeur web, full stack, front-end et back-end. HTML/CSS, PHP & JS & VUEJS</p>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #171516" target="_blank" href="https://github.com/lefuturiste"><i class="fab fa-github"></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #00ACED" target="_blank" href="https://twitter.com/_le_futuriste/"><i class="fab fa-twitter"></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #5851db" target="_blank" href="https://lefuturiste.fr"><i class="fas fa-link "></i></a>
                </div>
            </div>
        </div>
        <!-- Contact Form -->
        <div class="section" id="app" data-aos="fade-right">
            <h1 class="title new-section">Contactez-nous !</h1>
            <div class="row">
                <div class="col s12 m9">
                    <form id="contact-form" role="form" v-on:submit.prevent="submit">
                        <p class="contact-name">
                            <input id="contact_name" name="name" type="text" placeholder="Votre nom et prénom" required="required" v-model="name" minlength="2" maxlength="200">
                        </p>
                        <p class="contact-name">
                            <input id="inputcompany" name="company" type="text" placeholder="Entreprise" v-model="company" required="required" minlength="3" maxlength="200">
                        </p>
                        <p class="contact-email">
                            <input id="contact_email" name="email" type="email" placeholder="Votre email" required="required" v-model="email" minlength="4" maxlength="200">
                        </p>
                        <p class="contact-message">
                            <textarea id="contact_message" name="message" placeholder="Entrer votre message ici" rows="3" required="required" v-model="message" minlength="15" maxlength="500">
                            </textarea>
                        </p>
                        <p class="contact-submit">
                            <div class="g-recaptcha" data-sitekey="<%= recaptchaKey %>"></div>
                            <p>En cliquand sur 'Envoyer', vous nous autorisez à stocker, utiliser, vos données personnelles au sein de Thingmill.
                            </p>
                            <button id="contact-submit" class="submit" type="submit">Envoyez un message</button>
                        </p>
                    </form>
                </div>
                <div class="col s12 m3">
                    <div class="contact-details">
                        <h3>Nos informations de contact</h3>
                        <ul>
                            <li><a class="contact-mail" href="mailto:contact@thingmill.fr">contact@thingmill.fr</a></li>
                            <li>+33 7 69 99 75 49</li>
                            <li>
                                Thingmill
                                <br> 1 chemin de badoire
                                <br> Hesloup 61250
                                <br> France
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Contact Form -->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    name: '',
                    company: '',
                    email: '',
                    message: ''
                }
            },
            methods: {
                submit: function() {
                    if (
                        grecaptcha.getResponse() !== ""
                    ) {
                        axios.post('/contact', {
                            name: this.name,
                            email: this.email,
                            company: this.company,
                            message: this.message,
                            recaptcha: grecaptcha.getResponse()
                        }).then(() => {
                            this.name = ''
                            this.company = ''
                            this.email = ''
                            this.message = ''
                            console.log(window.grecaptcha)
                            window.grecaptcha.reset()
                            swal("Envoyé !", "Nous traiterons très rapidement ce message", "success")
                        }).catch((err) => {
                            swal("Erreur !", "Nous n'avons pas pu traiter ce message", "error")
                        })
                    }
                }
            }
        })
    </script>
    <% include footer %>