<% include header %>
    <h1 class="left-title">Nos projets...</h1>
    <div class="row project right">
        <div class="col s12 m6">
            <img alt="" class="project-img right" src="https://static.retrobox.tech/img/about/RETROBOX1.png" />
            <!--<iframe src="https://retrobox.tech" scrolling="no" width= "100%" border-radius= "1em" frameBorder="0">Browser not compatible.</iframe>-->
        </div>
        <div class="col s12 m6">
            <h1 class="retrobox title-project">Projet Retrobox</h1>
            <p>Une console, 20 ans de jeux, 35 ans de technologies</p>
            <p class="desc-project">La retrobox est une console portative, open-source et DIY, qui tourne sur RetroPie. Vous pouvez rejouer à tous les jeux de votre enfance, avec son autonomie de 6 heures vous allez passer des heures de plaisirs ! Projet en cours de construction, il sera mis en vente: début 2019. Le projet avance très vite et un prototype est déjà disponible</p>
            <p class="retrobox">En apprendre plus sur le projet <i class="material-icons arrow">keyboard_arrow_right</i>
            </p>
            <div>
                <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #FF0000" target="_blank" href="https://retrobox.tech/"><i class="fas fa-link "></i></a>
                <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #3B5998" target="_blank" href="https://facebook.com/RetroBoxSP"><i class="fab fa-facebook-f"></i></a>
                <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #00ACED" target="_blank" href="https://twitter.com/RetroBoxSP"><i class="fab fa-twitter"></i></a>
                <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #171516" target="_blank" href="https://github.com/retrobox/"><i class="fab fa-github"></i></a>
                <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #7289da" target="_blank" href="https://discord.gg/TzNNQnP"><i class="fab fa-discord"></i></a>
            </div>
        </div>
    </div>
    <div class="row project">
        <div class="col s12 m6">
            <div class="text-left">
                <h1 class="happyblocks title-project">Projet HappyBlocks</h1>
                <p>Serveurs Minecraft disposant de nombreux jeux !</p>
                <p class="desc-project">HappyBlocks est un serveur mini-jeux pour le jeu Minecraft, où vous pouvez vous divertir avec d’autres personnes en jouant à divers Mini-jeux. Nous nous renouvelons sans cesse pour avoir des jeux originaux et de qualité et nous voulons sans cesse nous améliorer c’est pour cela que nous avons besoin de vos avis !</p>
                <p class="happyblocks">En apprendre plus sur le projet <i class="material-icons arrow">keyboard_arrow_right</i>
                </p>
                <div>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #FFCA28" target="_blank" href="https://happyblocks.info/"><i class="fas fa-link "></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #3B5998" target="_blank" href="https://www.facebook.com/HappyBlocksMc/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #00ACED" target="_blank" href="https://twitter.com/BlocksHappy"><i class="fab fa-twitter"></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #171516" target="_blank" href="https://github.com/HappyBlocks-Mc"><i class="fab fa-github"></i></a>
                    <a class="btn-floating btn waves-effect waves-light media-icon" style="background: #7289da" target="_blank" href="https://discord.gg/nd8epEU"><i class="fab fa-discord"></i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <img alt="" class="project-img" src="img/happyblocks_logo.png" />
        </div>
    </div>

    <% include footer %>
