.cover {
  height: 100vh;
}
.primary {
  color : #46B8AD;
}
.button {
  background-color: #F6F6F6;
  border-radius: 30%;
}
.team {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.link {
  font-size: 1.15em;
  color: white;
  text-align : right
}

html {
	scroll-behavior: smooth;
  background-color: #333;
}
.cover-main {
    background-color: rgba(77,182,172,.75);
}
.min-logo {
    width: 12em;
    height: auto;
}
.img {
  box-shadow:  14px 25px rgba(0, 0, 0, 0.16);
}
.logo {
    width: 35em;
    height: auto;
}
.accueil {
  background: linear-gradient(105.2deg, #3A6186 0%, #89253E 99.29%);
}
.navbar {
  background: linear-gradient(105.2deg, #3A6186 0%, #89253E 99.29%);
}
.degrade {
  background: linear-gradient(105.2deg, #3A6186 0%, #89253E 99.29%);
  padding-top: 2.2em;
  padding-bottom: 2.2em;
}

.personnal-icon {
  font-size: 1.5em;
  padding: 0.5em;
  letter-spacing: .75rem;
  list-style: none;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.titre {
  font-size: 5em;
}
.button-titre{
  font-size: 1.35rem !important;
}
.card-img {
    width: 26em;
    height: auto;
    vertical-align: middle;
    border-color: #E9E9E9;
    border-radius: 50px;
    border-width: 10px;
    border-style: solid;
}

.project {
  width: 40em !important;
  max-width: 35em !important;
}

.superposition {
  position: relative !important;
}

.superposition img:nth-child(1){
  position: absolute;
  right: 25px;
  top: 80px;
}

.cover-title {
  margin-top : 8em;
}

.feature-content {
  display: inline;
  vertical-align: middle;
  text-align: right;
}

.container {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}
.card {
    text-align: center;
}
.icon {
    color: #46B8AD;
    /*color: #ff9c50*/
    font-size: xxx-large;
}
.icon-alternative {
    color: #333;
    font-size: xxx-large;
}
.footer {
    margin-top: 5em;
  
    background-color: #222;
    color: white;
    padding: 2em 0;
  }
  
  .footer a {
    color: white;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .contact-success-icon i {
    margin: 0 .4em !important;
  }

  .contact-success {
    display: flex;
    align-items: center;
    padding: 1em;
    margin: 0 .5em;
    color: #4CAF50;
    margin-bottom: 1em;
  }
  .contact-success-icon {
    display: flex;
    align-items: center;
  }
  .contact-success-icon i {
    margin-right: 1em;
    margin-left: 1em;
    font-size: 2em;
  }
  :target:before {
    content:"";
    display:block;
    height:150px; /* fixed header height*/
    margin:-150px 0 0; /* negative fixed header height */
}
.mobile-navbar {
  display: none;
}
@media all and (max-width: 23cm) {
  .head-navbar {
    display: none;
  }
  .main-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
  .mobile-local {
    display: block;
  }
  .local {
    display: none;
  }
}
@media all and (max-width: 11cm) {
  .mobile-title {
    font-size: 0.88em !important;
  }
  .uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
    padding: 0 15px !important;
  }
}
.mobile-logo {
  width: 11em;
  height: auto;
  padding-top: 0.25em;
  /*padding-bottom: 6.5em;*/
}
  