/*Custom made by Thingmill*/

body, main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
  background: #303030;
  color: #f6f6f6;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-bottom: 2em;
}

.team {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.link {
  font-size: 1.15em;
  color: white;
  text-align : right
}

.degrade {
  background: linear-gradient(105.2deg, #3A6186 0%, #89253E 99.29%);
  padding-top: 2.2em;
  padding-bottom: 2.2em;
}

.uk-navbar-container, .navbar {
  background: linear-gradient(105.2deg, #3A6186 0%, #89253E 99.29%);
}

.min-logo, .mobile-logo {
  width: 11em;
  height: auto;
  padding-top: 0.25em;
}

.logo {
  width: 35em;
  height: auto;
}

.mobile-navbar {
  display: none;
}

.cover, .accueil {
  background: linear-gradient(105.2deg, #3A6186 0%, #89253E 99.29%);
}

.cover {
  height: 100vh;
  position: relative;
}

.uk-position-bottom-center {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.cover > * {
  max-height: 100%;
  overflow: hidden;
}

.titre {
  font-size: 5em;
}

.primary {
  color: #46B8AD;
}

.button-titre {
  font-size: 1.35rem !important;
}

.home-actions-button p:first-of-type {
	margin-right: 4em;
}

.right {
  text-align: right;
}
.center {
  text-align: center;
}

.superposition img:nth-child(1) {
  position: absolute;
  right: 25px;
  top: 80px;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}


.card-img {
  width: 26em;
  height: auto;
  vertical-align: middle;
  border-color: #E9E9E9;
  border-radius: 50px;
  border-width: 10px;
  border-style: solid;
}

.superposition {
  position: relative !important;
}

.superposition img:nth-child(1){
  position: absolute;
  right: 25px;
  top: 80px;
}

.cover-title {
  margin-top : 8em;
  font-size: 1.3em;
}

/* FOR MAC USER */
@media screen and (max-width: 1468px) {
  .cover-title {
    margin-top: 2em;
    font-size: 1.3em;
  }
}

.cover-subtitle {
  font-size: 1.2em;
}

.feature-content {
  vertical-align: middle;
  text-align: right;
  padding-right: 2em;
  padding-right: 2em;
}

.card {
    text-align: center;
}

.personnal-icon {
  font-size: 1.5em;
  padding: 0.5em;
  letter-spacing: .75rem;
  list-style: none;
}

.project {
  width: 40em !important;
  max-width: 35em !important;
}

.center {
  text-align: center;
}

.icon, .icon-alternative {
  color: #46B8AD;
  font-size: xxx-large;
}

.footer {
  padding-top: 50px;
  margin-top: 5em;
  background-color: #222;
  color: white;
  padding: 2em 0;
}

.uk-footer {
  padding: 2em 0;
}

.submit, #contact-form input, #contact-form textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  transition: background 0.1s linear, color 0.1s linear;
}

.submit:hover, .contact-form .submit:hover {
  color: #4db6ac;
  border-color: #4db6ac;
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 20px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

@media all and (max-width: 599px) {

  .text-card-mobile {
    text-align: left;
    padding-left: 30px;
  }

  .uk-heading-divider {
    margin-top: 0.8em;
    margin-bottom: 0.5em;
  }

  .titre {
    font-size: 9vh;
    padding: auto;
    margin: auto;
  }

  .uk-card-title-mobile {
    font-size: 2em;
    font-weight: bold;
  }
  
  .bg-card {
    display: none !important;
  }

  .head-navbar, .main-navbar {
    display: none;
  }

  .button-header {
    margin-top: 1em;
  }
  
  .team {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mobile-navbar, .mobile-local, .local {
    display: block;
  }

  .home-desc {
    font-size: 1.5em;
  }

  .home-actions-button {
    flex-direction: column;
    align-items: center;
  }
}

/* Pour les navigateurs basés sur WebKit comme Chrome, Safari et Edge */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 6px;
}

/* Pour Firefox */
* {
  scrollbar-color: #444 #333;
  scrollbar-width: auto;
}

.logo-footer {
  height: auto;
  display: block;
  margin-right: auto;
}