<% include ../header %>
<h1 class="title">Oh ! no....</h1>
<div class="container">
   <center><img src="../img/404.gif" style="width:75%"></center>
   <hr>
<center><p><b>Cela peut être dû à :</b><br>
  La page est en construction<br>
        La page n'existe pas<br>
        La page est introuvable<br>
        Bug interne du site<br>
        (Contactez nous : contact@thingmill.fr)</p></center>
</div>
<% include ../footer %>
